# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# FAISS index
faiss_index/
*.faiss
*.pkl

# RAG data (vector DB, uploads)
backend/data/

# Docker
*.log

# OS/IDE
.vscode/
.idea/
.DS_Store

# dependencies
node_modules/
frontend/node_modules/

# next
.next/
frontend/.next/

# misc
.env*
.DS_Store

# RAG test outputs
backend/app/tests/outputs/*