# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# FAISS index (ако стане persistent)
faiss_index/
*.faiss
*.pkl

# Docker
*.log

# OS/IDE
.vscode/
.idea/
.DS_Store.venv/
