fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.9
pydantic-settings==2.4.0

SQLAlchemy==2.0.32
psycopg[binary]==3.2.1

redis==5.0.8
rq==1.16.2

python-dotenv==1.0.1

unstructured[all-docs]==0.15.9
langchain==0.2.16
langchain-community==0.2.16
langchain-openai==0.1.22
langchain-chroma==0.1.4
chromadb==0.5.3
pytesseract==0.3.13